# Apache configuration file ∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞
# Best inside public/ directory

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Protect .env file from public access in 
  # the public_html (Hostinger File 📁 Manager)
#  <Files .env>
#    Order Allow,Deny
#    Deny from all
#  </Files>

  # Ensure React Router works properly
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
# Apache configuration file ∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞
